[submodule "dotfiles-manager/nistow"]
	path = dotfiles-manager/nistow
	url = https://github.com/xmonader/nistow
[submodule "bocker/bocker"]
	path = docker/bocker
	url = https://github.com/p8952/bocker
[submodule "git/git-pastiche"]
	path = git/git-pastiche
	url = https://github.com/juretta/git-pastiche
[submodule "git/rgit"]
	path = git/rgit
	url = https://github.com/JoelQ/rgit
[submodule "git/gitlet"]
	path = git/gitlet
	url = https://github.com/maryrosecook/gitlet
[submodule "neural-net/cnn-from-scratch"]
	path = neural-net/cnn-from-scratch
	url = https://github.com/vzhou842/cnn-from-scratch
[submodule "os/blog_os"]
	path = os/blog_os
	url = https://github.com/phil-opp/blog_os
[submodule "compiler/cradle"]
	path = compiler/cradle
	url = https://github.com/g-ford/cradle
[submodule "compiler/the-super-tiny-compiler"]
	path = compiler/the-super-tiny-compiler
	url = https://github.com/jamiebuilds/the-super-tiny-compiler
[submodule "interpreter/the-super-tiny-interpreter"]
	path = interpreter/the-super-tiny-interpreter
	url = https://github.com/keyz/the-super-tiny-interpreter
[submodule "compiler/markdown-compiler"]
	path = compiler/markdown-compiler
	url = https://github.com/beezwax/markdown-compiler
[submodule "regex/build-your-own-regex"]
	path = regex/build-your-own-regex
	url = https://github.com/nadrane/build-your-own-regex
[submodule "hashing/write-a-hash-table"]
	path = hashing/write-a-hash-table
	url = https://github.com/jamesroutley/write-a-hash-table
[submodule "single-sign-on/simple-sso"]
	path = single-sign-on/simple-sso
	url = https://github.com/ankur-anand/simple-sso
