[submodule "dotfiles-manager/nistow"]
	path = dotfiles-manager/nistow
	url = https://github.com/xmonader/nistow
[submodule "bocker/bocker"]
	path = docker/bocker
	url = https://github.com/p8952/bocker
[submodule "git/git-pastiche"]
	path = git/git-pastiche
	url = https://github.com/juretta/git-pastiche
[submodule "git/rgit"]
	path = git/rgit
	url = https://github.com/JoelQ/rgit
[submodule "git/gitlet"]
	path = git/gitlet
	url = https://github.com/maryrosecook/gitlet
